<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/home.css">
    <link href="/static/covidData/fontawesome-free-5.14.0-web/css/all.css" rel="stylesheet">
    <title>Blinksdot</title>
</head>
<body>
    {{{body}}}
    <script src="/static/MainHome.js"></script>
</body>
</html>