<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/home.css">
    <link rel="stylesheet" href="/static/contactus/contactus.css">
    <link href="/static/covidData/fontawesome-free-5.14.0-web/css/all.css" rel="stylesheet">
    <title>Blinksdot</title>
</head>
<body>
    <div class="header">
        <header class="home-head">
            <div class="home-logo">
                <img src="/static/logo2.png" width="180" height="40" alt="">
            </div>
            <div class="bars">
                <i class="fas fa-bars"></i>
            </div>
            <div class="home-links-main">
                <div class="home-links-item">
                    <a href="/">Home</a>
                </div>
                <div class="home-links-item">
                    <a href="/CovidDataTracker">Covid19 Data</a>
                </div>
                <div class="home-links-item">
                    <a href="#">Services</a>
                </div>
                <div class="home-links-item">
                    <a href="/contactus">ContactUs</a>
                </div>  
            </div>
        </header>
    </div>
    {{{body}}}
        <div class="home-main-footer">
        <div class="comp-details">
            <div class="comp-name-footer">
                <p>BlinksDot Private Limited</p>
            </div>
            <div class="comp-address">
                <p>#71, MuthurayaSwamy Layout, P and T layout, Sunkadakatte</p>
                <p>Bangalore, Karnataka-560091</p>
            </div>
            <div class="social-content">
                <div class="home-social-icons">
                    <div class="social-icons-items">
                        <a href="https://www.facebook.com/theblinksdot.lmt.9"><i class="fab fa-facebook"></i></a>
                    </div>
                    <div class="social-icons-items">
                        <a href="https://www.facebook.com/theblinksdot.lmt.9"><i class="fab fa-instagram"></i></a>
                    </div>
                    <div class="social-icons-items">
                        <a href="https://www.facebook.com/theblinksdot.lmt.9"><i class="fab fa-twitter"></i></a>
                    </div>
                    <div class="social-icons-items">
                        <a href="https://www.facebook.com/theblinksdot.lmt.9"><i class="fab fa-google"></i></a>
                    </div>
                </div>
            </div>
            <div class="copy-rights">
                <p>Copyrights &copy; 2020 Blinksdot Pvt Ltd All Rights Reserved</p>
            </div>
        </div>
    </div>
    <script src="/static/MainHome.js"></script>
</body>
</html>