<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
      *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      html{
        font-size : 62.5%;
      

      }
      .center_div{
        width:100vw;
        height:100vh;
        place-items:center;
        background-color: hsla(206, 21%, 94%, 1);
        display: grid;


      }
      .logo{
        width:22rem;
        height:15rem;
        background-color:#f05030;
        border-radius:1.5rem;
        outline: none;
        position: relative;

      }
      .circle{
        width: 4rem;
        height: 4rem;
        background-color: #ffff;
        top: -1.5rem;
        border-radius: 50%;
        left: 3.5rem;
        position: absolute;
      }

      .logo1{
        width: 19rem;
        height: 1.2rem;
        background-color: #ffff;
        position: absolute;
        top:6.5rem;
      }

      .logo2{
        width: 26rem;
        height: 7.2rem;
        background-color: sla(206, 21%, 94%, 1);;
        top: -8rem;
        position: absolute;
      }
      .circle2{
        width: 1rem;
        height: 1rem;
        position: absolute;
        top: 3.5rem;
        border-radius: 50%;
        left: 4.5rem;
        display: grid;
      }
      .logo h1{
        position: absolute;
        top:8.2rem;
        left: 0rem;
        color: #ffff;
        font-size: 4rem;
      }
      .logo h2{
        position: absolute;
        color: ##4C4B4B;
        top: 8.0rem;
        left:14rem;
        font-size: 4rem;
        border:#ffff solid 2px;
        border-radius:7px;
      }
      .logo h3{
        position: absolute;
        color: black;
        font-size:0.79rem;
        top: 13.41rem;
        left: 1rem;
      }

    </style>
  </head>
  <body>
    <div class="mian">


      <div class="center_div">
        <div class="logo">
          <div class = "logo1">
            <div class = "circle"> </div>
          <div class="logo2">
          <div class = "circle2"> </div>
        </div>
        </div>
            <h1>blinks</h1>
            <h2>dot</h2>
            <h3>YOUR DERAMS CAN SUCCEED IN A BLINK</h3>
          </div>
        </div>
      </div>
  </body>
</html>