<div class="contact-us-main">
    <div class="contact-form-main">
            <div class="contact-left">
                <div class="contact-head">
                    <h3>Contact Our Sales team</h3>
                </div>
            <div class="contact-display">
                <p>We will be happy to answer your question. Fill out the form we will get back to you shortly.</p>
                
               
            </div>
            <div class="contact-form" id="contact">
                {{#each errors}}
                   <div class="error-message">
                        <p class="err-text">{{this.msg}}</p>
                        <a class="close"><i class="far fa-window-close fa-1.5x"></i></a>
                    </div>
                {{/each}}
                {{#if userError}}
                    <p>{{userError}}</p>
                {{/if}}
                {{#if email}}
                    <p>{{email}}</p>
                {{/if}}
                
                <form action="/contactus" method="POST" class="contact">
                    <div class="input-area">
                        <label for="first-name">First Name</label>
                        <input type="text" id="firstname"  class="input" name="firstname" placeholder="FirstName">
                    </div>
                    <div class="input-area">
                        <label for="first-name">Last Name</label>
                        <input type="text" id="lastname" class="input" name="lastname" placeholder="LastName">
                    </div>
                    <div class="input-area">
                        <label for="first-name">Work Email</label>
                        <input type="text" id="email" class="input" name="email" placeholder="Email">
                    </div>
                    <div class="input-area">
                        <label for="first-name">Phone</label>
                        <input type="text" id="phone" class="input" name="phone" placeholder="phone">
                    </div>
                    <div class="input-area">
                        <label for="first-name">Choose</label>
                        <select name="change" id="change" class="input">
                            <option value="Web Development">Web Development</option>
                            <option value="Android Development">Android Development</option>
                            <option value="Content Management">Content Development</option>
                        </select>
                    </div>

                    <div class="input-area">
                        <label for="first-name">Message</label>
                        <textarea name="message1" placeholder="Tell Us more about the Project" id="message" class="input" id="" cols="30" rows="10"></textarea>
                    </div>
                    <div class="input-area btns">
                        <button type="submit" value="Register" class="btn">Register</button>
                        <p>Already Registered? <a class="req" href="/#login-form">Login</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/static/contactus/contact.js"></script>