<div class="main-container">
    <div class="header">
<header class="home-head">
        <div class="home-logo">
            <img src="/static/logo2.png" width="180" height="40" alt="">
        </div>
        <div class="bars">
            <i class="fas fa-bars"></i>
        </div>
        <div class="home-links-main">
            <div class="home-links-item">
                <a href="#">Home</a>
            </div>
            <div class="home-links-item">
                <a href="#">About</a>
            </div>
            <div class="home-links-item">
                <a href="#">Services</a>
            </div>
            <div class="home-links-item">
                <a href="#">ContactUs</a>
            </div>  
        </div>
    </header>

    </div>
    
    <div class="home-main-body-text">
        <div class="comp-name">
            <p class="comp-name-p">BlinksDot Private Limited</p>
            <p class="slogan">Your Dreams Can Succeed In a Blink</p>
        </div>
        <div class="mission-vission">
            <div class="vission">
                <div class="vission-head">
                    <h3>Vission</h3>
                </div>
                <div class="vission-body">
                    <p>Our vision is to develop in a constant
                         manner and grow as a major web and mobile apps developer 
                         to become a leading performer, in providing quality 
                         web and mobile apps services in the competitive global
                          marketplace.</p>
                </div>
            </div>
            <div class="horline"></div>
             <div class="mission">
                <div class="vission-head">
                    <h3>Mission</h3>
                </div>
                <div class="vission-body">
                    <p>Mission of Blinksdot is to provide 
                        cost-effective, high-quality web and mobile application development services to our clients. In our business customer, satisfaction is the top 
                        priority and we believe in to satisfy all the demands of our clients.</p>
                </div>
            </div>
        </div>
      
    </div>
    <div class="services">
        <div class="services-card">
            <div class="services-card-head">
                <p><i class="fas fa-laptop-code fa-3x"></i></p>
            </div>
            <div class="services-card-body">
                <p>Web Development</p>
            </div>
            <div class="nav">
                <a href="#">View more &nbsp;<i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
       <div class="services-card">
            <div class="services-card-head">
                <p><i class="fas fa-mobile-alt fa-3x"></i></p>
            </div>
            <div class="services-card-body">
                <p>Android App Development</p>
            </div>
            <div class="nav">
                <a href="#">View more &nbsp;<i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
       <div class="services-card">
            <div class="services-card-head">
                <p><i class="fas fa-cogs fa-3x"></i></p>
            </div>
            <div class="services-card-body">
                <p>Content Management</p>
            </div>
            <div class="nav">
                <a href="#">View more &nbsp;<i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
    <div class="home-main-footer">
        <div class="comp-details">
            <div class="comp-name-footer">
                <p>BlinksDot Private Limited</p>
            </div>
            <div class="comp-address">
                <p>#71, MuthurayaSwamy Layout, P and T layout, Sunkadakatte</p>
                <p>Bangalore, Karnataka-560091</p>
            </div>
            <div class="social-content">
                <div class="home-social-icons">
                    <div class="social-icons-items">
                        <a href="https://www.facebook.com/theblinksdot.lmt.9"><i class="fab fa-facebook"></i></a>
                    </div>
                    <div class="social-icons-items">
                        <a href="https://www.facebook.com/theblinksdot.lmt.9"><i class="fab fa-instagram"></i></a>
                    </div>
                    <div class="social-icons-items">
                        <a href="https://www.facebook.com/theblinksdot.lmt.9"><i class="fab fa-twitter"></i></a>
                    </div>
                    <div class="social-icons-items">
                        <a href="https://www.facebook.com/theblinksdot.lmt.9"><i class="fab fa-google"></i></a>
                    </div>
                </div>
            </div>
            <div class="copy-rights">
                <p>Copyrights &copy; 2020 Blinksdot Pvt Ltd All Rights Reserved</p>
            </div>
        </div>
    </div>
</div>
<script src="/static/MainHome.js"></script>