.contact-us-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  font-size: medium;
  padding: 10px;
  margin: auto;
  width: 80%;
  height: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 35px;
}

.contact-head {
  border-bottom: 1px solid gray;
  letter-spacing: 5px;
  font-size: large;
  font-weight: 900;
}

.contact-display {
  letter-spacing: 1px;
  font-size: 15px;
  text-align: center;
  margin: 10px 0 10px 0;
}

.contact-form-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: medium;
  padding: 10px;
  margin: 10px;
  height: auto;
}

.contact-left {
  margin: auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact-form {
  padding: 10px;
  border: 1px solid gray;
  line-height: 50px;
  width: 80%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  border-top: 10px solid #f58df5;
}

.contact {
  width: 90%;
}

.input {
  width: 100%;
  padding: 10px;
  height: 45px;
  outline: none;
  border-radius: 5px;
  border: none;
}

.shadow {
  outline: none;
  padding: 10px;
  -webkit-box-shadow: -1px 1px 19px -2px #a09f9f;
  box-shadow: -1px 1px 19px -2px #a09f9f;
}

.error {
  border: 1px solid red;
  outline: red;
  padding: 10px;
  -webkit-box-shadow: -1px 1px 19px -2px #8f3c3c;
  box-shadow: -1px 1px 19px -2px #b85555;
}

#message {
  padding: 20px;
  height: 100px;
}

.btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn {
  padding: 10px;
  margin-top: 10px;
  background-color: white;
  border: black;
  color: black;
  border-radius: 3px;
  border: 1px solid white;
}

.btn:hover {
  -webkit-transition: all .10s linear;
  transition: all .10s linear;
  color: white;
  background-color: transparent;
  outline: white;
}

.error-message {
  width: 100%;
  padding: 5px;
  margin: 0 0 5px 0;
  height: auto;
  border-radius: 3px;
  background-color: #dddddd;
  color: #963636;
  z-index: 60;
  font-size: small;
  font-weight: 50;
  -webkit-transition: all 0.10s linear;
  transition: all 0.10s linear;
  border: 1px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.close {
  color: #972222;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.10s linear;
  transition: all 0.10s linear;
}

.req {
  padding: 10px;
  margin-top: 10px;
  background-color: white;
  border: black;
  color: black;
}

.req:hover {
  color: white;
  background-color: transparent;
  border: 0.1px solid white;
}

@media only screen and (max-width: 768px) {
  .contact-head {
    border-bottom: 1px solid gray;
    letter-spacing: 4px;
    font-size: medium;
    font-weight: 900;
  }
  .contact-us-main {
    width: 100%;
  }
  .contact-form-main {
    width: 100%;
  }
  .contact-left {
    width: 100%;
  }
  .contact-form {
    width: 100%;
  }
  .contact-head {
    letter-spacing: 2px;
  }
  .input {
    outline: none;
  }
  .contact-display {
    font-size: small;
  }
}
/*# sourceMappingURL=contactus.css.map */