* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: rgb(29, 29, 29);
}

.logerr{
    border: 1px solid red;
    outline: red;
    padding: 10px;
    -webkit-box-shadow: -1px 1px 19px -2px rgb(143, 60, 60);
    -moz-box-shadow: -1px 1px 19px -2px rgb(150, 74, 74);
    box-shadow: -1px 1px 19px -2px rgb(184, 85, 85);
}

body {
    background-color: #1F2833;
    color: #E3E2DF;
    border: 2px solid white;
}
.home-head {
    top: 0%;
    left: 0%;
    height: auto;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 20px 20px 20px 10px;
    box-shadow: -1px -2px 14px 0px rgba(0,0,0,0.5);
    
}
.fix {
    position: fixed;
    z-index: 1000;
}

.home-logo {
    margin: 5px 0 0 0;
    padding: 10px;
}

.home-links-main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}
.home-links-item{
    margin-top: 25px;
}

.home-links-item a {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    color: whitesmoke;
    background-color: rgba(34, 34, 34, 0.925);

}

.home-links-item a:hover {
   border: 1px solid black;
   background-color: whitesmoke;
   color: black;
   cursor: pointer;
   transition: all .10s linear;
}

//body text
.comp-name-p {
    font-size: x-large;
    font-weight: 900;
    letter-spacing: 5px;
}
.slogan {
    font-size: medium;
}

.home-main-body-text {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}
.comp-name{
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 40px;
    padding: 20px;
}

.mission-vission {
    width: 90%;
    margin: auto;
    padding: 10px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border: .3px solid gray;
    line-height: 30px;
    
}
.horline {
    border: 0.5px solid gray;
    height: 100%;
    width: .1px;
    margin: 5px;
}

.services {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
    margin: auto;
    line-height: 30px;
}

.services-card {
    margin: 10px;
    background-color: #1a1f27;
    box-shadow: -1px -2px 14px 0px rgba(0,0,0,0.5);
    border-radius: 5px;
    height: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    flex-direction: column;
}
.services-card-head {
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: center;
    align-items: center;
}
.services-card-body{
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    width: 100% !important;
}
.nav {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.nav a {
    border: black;
    padding: 8px;
    background-color: rgb(73, 77, 95);
    border-radius: 5px;
    text-align: center;
    color: white;
    transition: all .10s linear;
}
.nav a:hover {
    padding: 8px;
    background-color: rgb(241, 241, 241);
    color: black;
    
}

.login-main-form {
    height: auto;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    line-height: 30px;
    list-style-type:none ;
    margin: 10px auto 10px auto;
    padding: 20px;
}
.login-main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
}
.login-form {
    color: black;
    padding: 10px;
    border: 1px solid whitesmoke;
    width: 50%;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: -1px -2px 14px 0px rgba(0,0,0,0.5);
    
}
.login {
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}
.input {
    width: 100%;
    align-items: center;
}
#login-line {
    border: 0.1px solid #FFFFFF;
    height: 300px;
    width: 0.1px;
}
.login-intruct {
    border-bottom: 1px solid whitesmoke;
}
#btn {
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #1a1f27;
    color: whitesmoke;
    
}
#btn:hover {
    transition: all .10s linear;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #FFFFFF;
    color: black;
    
}
.logreg {
    border: 1px solid black;
    padding: 10px;
    background-color:#1a1f27;
    color: white;
    border-radius: 5px;
}

.logreg:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}
//footer
.home-main-footer {
    color: rgb(126, 126, 128);
    width: 100%;
    height: auto;
    background-color: rgb(10, 19, 26);
    display: flex;
    flex-wrap: wrap;
    line-height: 30px;
    justify-content: center;
    text-align: center;
    border: 1px solid whitesmoke;
}

.comp-name-footer {
    font-size: large;
    font-weight: 900;
    letter-spacing: 2px;
}

.social-content{
    display: flex;
    justify-content: center;
    text-align: center;
    margin : 5px 10px 0 0;

}
.home-social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
.social-icons-items {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    margin: 5px;
    // padding: 5px 8px 5px 8px;
    background-color: rgba(34, 34, 34, 0.925);
    border-radius: 4px;
  
}
.social-icons-items:hover {
    border: black;
}
.social-icons-items a {
    padding: 5px 8px 5px 8px;
    color: white;
}
.social-icons-items a:hover{
    background-color: whitesmoke;
    transition: all .10s linear;
    color: black;
}
.copy-rights {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.bars {
    display: none;
}
@media only screen and (max-width: 768px) {
    .home-head, .home-links-main {
        display: flex;
        flex-direction: column;
        text-align: unset;
    }
    .home-links-main {
        display: none;
       
    }
    .bars {
        align-self: flex-end;
        position: absolute;
        display: initial;
        margin: 22px 5px 0 0;
    }
    .content {
        transition: all 2s linear;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        .home-links-item {
            width: 100%;
        }
        .home-links-item a {
            border-radius: unset;
            background-color: unset;
            color: black;
            border: unset;
            transform: all 1s linear;
        }
        .home-links-item a:hover{
            color: black;
            border: 1px solid gray;
        }
    }
    .bars i {
        color: black;
    }
    .comp-name-p {
        font-size: medium;
        font-weight: 900;
        letter-spacing: 3px;
    }
    .slogan {
        font-size: small;
    }
    .mission-vission {
        width: 90%;
        margin: auto;
        padding: 10px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: .3px solid gray;
        line-height: 30px;
        
    }
    .horline {
        border: 0.5px solid gray;
        height: 0%;
        width: 80%;
    }
    .services {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: auto;
        margin: 20px auto 10px auto;
        line-height: 30px;
        position: relative;
    }
    .services-card {
        width: 250px;
    }
    .copy-rights {
        font-size: small;
    }
    .comp-details{
        font-size: small;
    }
    .login-main-form {
       display: flex;
       flex-direction: column;
       justify-content: center;
       width: 80%;
       padding: 20px;
       margin: 10px auto 10px auto;
       line-height: 30px;
       align-items: center;
       border: .1px solid gray;
    }
    #login-line {
        border: 0.5px solid #FFFFFF;
        height: 1px;
        width: 100%;
        margin: 10px 5px 10px 5px;
    }
    .login-main-text {
        width: 80%;
    }
    .login-form {
        width: 100%;
        margin: 5px auto 5px auto;
    }
}