@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #1d1d1d;
}

.logerr {
  border: 1px solid red;
  outline: red;
  padding: 10px;
  -webkit-box-shadow: -1px 1px 19px -2px #8f3c3c;
  box-shadow: -1px 1px 19px -2px #b85555;
}

body {
  background-color: #1F2833;
  color: #E3E2DF;
  border: 2px solid white;
  font-family: 'Open Sans', sans-serif;
}

.home-head {
  top: 0%;
  left: 0%;
  height: auto;
  width: 100%;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  padding: 20px 20px 20px 10px;
  -webkit-box-shadow: -1px -2px 14px 0px rgba(0, 0, 0, 0.5);
          box-shadow: -1px -2px 14px 0px rgba(0, 0, 0, 0.5);
}

.fix {
  position: fixed;
  z-index: 1000;
}

.home-logo {
  margin: 5px 0 0 0;
  padding: 10px;
}

.home-links-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

.home-links-item {
  margin-top: 25px;
}

.home-links-item a {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  color: whitesmoke;
  background-color: rgba(34, 34, 34, 0.925);
}

.home-links-item a:hover {
  border: 1px solid black;
  background-color: whitesmoke;
  color: black;
  cursor: pointer;
  -webkit-transition: all .10s linear;
  transition: all .10s linear;
}

.comp-name-p {
  font-size: x-large;
  font-weight: 900;
  letter-spacing: 5px;
}

.slogan {
  font-size: medium;
}

.home-main-body-text {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

.comp-name {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 40px;
  padding: 20px;
}

.mission-vission {
  width: 90%;
  margin: auto;
  padding: 10px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 30px;
}

.horline {
  border: 0.5px solid gray;
  height: 100%;
  width: .1px;
  margin: 5px;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  margin: auto;
  line-height: 30px;
}

.services-card {
  margin: 10px;
  background-color: #1a1f27;
  -webkit-box-shadow: -1px -2px 14px 0px rgba(0, 0, 0, 0.5);
          box-shadow: -1px -2px 14px 0px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services-card-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-card-body {
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  width: 100% !important;
}

.nav {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav a {
  border: black;
  padding: 8px;
  background-color: #494d5f;
  border-radius: 5px;
  text-align: center;
  color: white;
  -webkit-transition: all .10s linear;
  transition: all .10s linear;
}

.nav a:hover {
  padding: 8px;
  background-color: #f1f1f1;
  color: black;
}

.login-main-form {
  height: auto;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 30px;
  list-style-type: none;
  margin: 10px auto 10px auto;
  padding: 20px;
}

.login-main-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40%;
}

.login-form {
  color: black;
  padding: 10px;
  border: 1px solid whitesmoke;
  width: 50%;
  border-radius: 5px;
  background-color: #FFFFFF;
  -webkit-box-shadow: -1px -2px 14px 0px rgba(0, 0, 0, 0.5);
          box-shadow: -1px -2px 14px 0px rgba(0, 0, 0, 0.5);
}

.login {
  height: auto;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#login-line {
  border: 0.1px solid #FFFFFF;
  height: 300px;
  width: 0.1px;
}

.login-intruct {
  border-bottom: 1px solid whitesmoke;
}

#btn {
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #1a1f27;
  color: whitesmoke;
}

#btn:hover {
  -webkit-transition: all .10s linear;
  transition: all .10s linear;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #FFFFFF;
  color: black;
}

.logreg {
  border: 1px solid black;
  padding: 10px;
  background-color: #1a1f27;
  color: white;
  border-radius: 5px;
}

.logreg:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.home-main-footer {
  color: #7e7e80;
  width: 100%;
  height: auto;
  background-color: #0a131a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border: 1px solid whitesmoke;
}

.comp-name-footer {
  font-size: large;
  font-weight: 900;
  letter-spacing: 2px;
}

.social-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 5px 10px 0 0;
}

.home-social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
}

.social-icons-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
  background-color: rgba(34, 34, 34, 0.925);
  border-radius: 4px;
}

.social-icons-items:hover {
  border: black;
}

.social-icons-items a {
  padding: 5px 8px 5px 8px;
  color: white;
}

.social-icons-items a:hover {
  background-color: whitesmoke;
  -webkit-transition: all .10s linear;
  transition: all .10s linear;
  color: black;
}

.copy-rights {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.bars {
  display: none;
}

@media only screen and (max-width: 768px) {
  .home-head, .home-links-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: unset;
  }
  .home-links-main {
    display: none;
  }
  .bars {
    -ms-flex-item-align: end;
        align-self: flex-end;
    position: absolute;
    display: initial;
    margin: 22px 5px 0 0;
  }
  .content {
    -webkit-transition: all 2s linear;
    transition: all 2s linear;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .content .home-links-item {
    width: 100%;
  }
  .content .home-links-item a {
    border-radius: unset;
    background-color: unset;
    color: black;
    border: unset;
    -webkit-transform: all 1s linear;
            transform: all 1s linear;
  }
  .content .home-links-item a:hover {
    color: black;
    border: 1px solid gray;
  }
  .bars i {
    color: black;
  }
  .comp-name-p {
    font-size: medium;
    font-weight: 900;
    letter-spacing: 3px;
  }
  .slogan {
    font-size: small;
  }
  .mission-vission {
    width: 90%;
    margin: auto;
    padding: 10px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: .3px solid gray;
    line-height: 30px;
  }
  .horline {
    border: 0.5px solid gray;
    height: 0%;
    width: 80%;
  }
  .services {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    margin: 20px auto 10px auto;
    line-height: 30px;
    position: relative;
  }
  .services-card {
    width: 250px;
  }
  .copy-rights {
    font-size: small;
  }
  .comp-details {
    font-size: small;
  }
  .login-main-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 90%;
    padding: 10px;
    margin: 10px auto 10px auto;
    line-height: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #login-line {
    border: 0.5px solid #FFFFFF;
    height: 1px;
    width: 100%;
    margin: 10px 5px 10px 5px;
  }
  .login-main-text {
    width: 80%;
  }
  .login-form {
    width: 100%;
    margin: 5px auto 5px auto;
  }
}
/*# sourceMappingURL=home.css.map */